* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0 16px;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #302b63);
  color: #ffffff;
}

a {
  text-decoration: none;
}
